:root {
  --color-ok-bg: rgb(117, 138, 105);
  --color-ok-border: rgb(85, 100, 75);
  --color-ok-text: #074d07;
  --color-ok-accent: #68bf0b;

  --color-warn-bg: #fffadd;
  --color-warn-border: #e0e37b;
  --color-warn-text: #4d4707;
  /* --color-warn-accent */

  --color-error-bg: rgb(179, 144, 144);
  --color-error-border: rgb(141, 113, 113);
  --color-error-text: #4d0707;
  /* --color-error-accent */

  --color-consider-bg: #80a4b4;
  /* --color-consider-border */
  --color-consider-text: #4d646d;
  /* --color-consider-accent */

  --color-text: #ffffff;
  --color-text-accent: #ffffff;

  --color-border: lightgray;
  --color-border-broken: #e0857f;

  --color-bg: #692A25;

  --color-link: #69A3AD;
  --color-link-dark: #f77e39;

  --color-pc-button-bg: #161414;
  --color-pc-button-bg-hover: #a38c8c;
  --color-pc-button-bg-click: #837070;
  --color-pc-button-text: white;
  --color-pc-button-text-click: #eee;

  --color-imp-button-bg: #ff003c;
  --color-imp-button-bg-hover: #ff2457;
  --color-imp-button-bg-click: #f21347;

  --color-unobstrusive-button-bg: var(--color-bg);
  --color-unobstrusive-button-bg-hover: #944843;
  --color-unobstrusive-button-bg-click: #6d3531;
  --color-unobstrusive-button-text: var(--color-text);
  --color-unobstrusive-button-text-click: #ffffff94;
}

html {
  /* Make html take full height of the document content */
  min-height: 100%;
  background: linear-gradient(to bottom, #1F1B1B, #1b1919);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100vh; /* gradient fills viewport height */
  background-attachment: fixed; /* fix gradient on scroll */
}

body {
  color: var(--color-text);
  position: relative;
  min-width: 100%;
  min-height: 100%; /* body grows with content */
  margin: 0;
  background: transparent; /* transparent so html bg shows through */
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

/* input elements are weird about their font */
input {
  font-family: inherit;
  font-size: inherit;
}

/* If element to scroll to is selected by id in URL, add offset to account for nav bar */
:target:before {
  content: "";
  display: block;
  height: calc(90px + 0.6em); /* fixed header height*/
  margin-top: calc(-90px - 0.6em); /* negative fixed header height */
}
